<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Exam2V1._0</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <h3>Contact Information</h3>
    <ul>
        <li>
            Garrett Thompson
            <ul>
                <li>
                    <a href="https://github.com/Gnarlsley" target="_blank">Github</a>
                </li>
            </ul>
        </li>

        <li>
            Logan Miller
            <ul>
                <li>
                    <a href="https://www.github.com/loganmiller822" target="_blank">Github</a>
                </li>
            </ul>
        </li>
    </ul>
</body>